Ngolanding
backend/node_modules
frontend/node_modules

rohan_backend/server/node_modules
rohan_backend/server/.env

node_modules
*.log
backend/28_log.txt
./backend/28_log.txt
.backend/coverage/lcov.info
*.info
backend/coverage