.ngoscard {
    background-color:  #eee;
  }
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  /* .card-block:hover{
    color: black;
  } */
  .card {
      font-size: 1em;
      overflow: hidden;
      /* padding-left: 10rem; */
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
      width: 100%;
      height: 100%;
  }
  
/* .card:hover{
    background-color: #4CAF50;
} */
.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  

.card:hover .button{
    background-color: rgb(255, 252, 252);
    color: #000;
}

.card:hover .modal-button{
    background-color: rgb(255, 252, 252);
    color: #000;
}

  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  
   flex-direction: column;
  }
  




  /* review */
  .modal-button {
    background-color: #4caf50;
    color: white;
    padding: 0.875rem 1.25rem;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.modal-button:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1.25rem;
    border: 0.063rem solid #888;
    width: 80%;
    max-width: 31.25rem;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    width: 100%;
}

.review-form label,
.review-form input,
.review-form textarea {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    width: 100%;
}

.review-form input[type="submit"] {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.313rem;
}

.review-form input[type="submit"]:hover {
    background-color: #45a049;
}

.review-list {
    margin-top: 1.25rem;
    max-height: 18.75rem;
    overflow-y: auto;
    width: 100%;
}

.review-list li {
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    list-style: none;
    text-align: left;
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
}

.rating {
    display: inline-block;
    direction: rtl;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.875rem;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.yellow-color {
    color: #FFD700;
}

.rating label i.fa {
    font-size: 1.4rem;
}

.review-count {
    margin-top: 1.25rem;
    text-align: center;
}

.review-count span {
    font-weight: bold;
    font-size: 1.2rem;
}

.review-stars {
    display: inline-block;
    font-size: 1.5rem;
    color: #ffd700;
    margin-right: 5px;
}

.review-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #3e8e41;
}

.modal-footer {
    background-color: #f2f2f2;
    padding: 15px;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:before {
    content: "\00d7";
}

@media only screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}


/* seraching */

.inner-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
  }
  
  .heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  
  .searchInputWrapper {
    position: relative;
  }
  
  .searchInput {
    width: 20rem;
    height: 2rem;
    padding: 0 1rem; 
    padding-left: 10%;
    border-radius: 2rem;
    border: none;
    transition: transform 0.1s ease-in-out;
    border-width: 0;
  }
  
  ::placeholder {
    color: #a1a1a1;
  }
  
  /* hide the placeholder text on focus */
  :focus::placeholder {
    text-indent: -999px
  }
  
  .searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }
  
  .searchInputIcon {
  position: relative;
  left: 2rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
    background-color: white;
  }
  
  .container:focus-within > 
  .searchInputWrapper > .searchInputIcon {
    right: 0.2rem;
  }
  .btn-search{
    position: relative;
    bottom: 2.1rem;
    left: 14rem;
    border-radius: 50px;
    background-color: #3e8e41;
    color: white;
    padding: 0.25rem 1rem; 
  }
  .btn-search:hover{
    background-color: white;
    color: #000;
  }

  /* report */
  .label {
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 50%;
}

.label .btn {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #eedcdc;

}



.label input[type="checkbox"] {
	-webkit-appearance: none;
}

.label .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2em;
	color: #0b0a0a;
}

.label input[type="checkbox"]:checked~.fa {
     color: #ff0000;
	text-shadow: 0 0 15px #00a1ff,
		0 0 30px #00a1ff;
}